html{
    background-color: white;
}

#NavBar{
    background-color:#02182B;
}

#TitleNews{
    background-color:#FFA400;
    height: 3.5rem;
    position: relative;
    top:2rem;
}
#NewsTitle{
    position: relative;
    top:-4px;
    font-size: 2rem;
}
#NewsBackground{
    background-color: white;
    position: relative;
    top:3rem;
}
#newsIcon{
    position: relative;
    top:8px;
    color:black;
    font-size: 2.8rem;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#NewOne{
font-size: 1.3rem;
}
#NewTwo{
    font-size: 1.3rem;
}
#NewThree{
    font-size: 1.3rem;
}
#TitleOne{
    color:purple;
}
#OneNew{
    position: relative;
    top:0.5rem;
}
#TwoNew{
    position: relative;
    top:0.5rem;
}
#ThreeNew{
    position: relative;
    top:0.5rem;
}
#trailersIcon{
    position: relative;
    top:8px;
    color:black;
    font-size: 2.8rem;
}

#Options{
    position: relative;
    top:0.7rem;
}
.card-image.img
{
  height:200px !important; 
}
.carousel{
    height: 890px;
}
.carousel-item{
    
}
.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}
#CardCarrousel{
    position: relative;
    top:-13rem;
}
#LogoI{
    position: relative;
    top:4px;
}
#TitleProducts{
    position: relative;
    top:-7rem;
}
#TitlePrice{
    position: relative;
    left: 1rem;
}
#InformationTable{
    position: relative;
    left: 0.2rem;
}
.tabs .tab a{
    background-color:white !important;
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {

    background-color:white !important;
    color:orange;
} /*Text color on hover*/

.tabs .tab a.active {
    color:orange;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:orange;
}  

